/************************************
GENERAL
*************************************/
body {
  font-family: 'Open Sans', sans-serif;
}

#pad {
  background: #D6D6C2;
  border: 1px solid #C1C1AF;
  border-top: 25px solid #D6D6C2;
  border-bottom: 25px solid #D6D6C2;
  border-radius: 2em;
  position: relative;
  margin: 4em auto;
  height: 50%;
  width: 50%;
  box-shadow: 0.5em 0 1em 5px #264348;
}

#screen {
  position: relative;
  width: 92%;
  margin: auto;
  border: 4px solid #C1C1AF;
}

#myCarousel {
  position: relative;
  margin: auto;
}

.carousel-caption {
  display: none;  
}

#wrapper {
  max-width: 940px;
  margin: 10em auto;
  padding: 0 5%;  
}

a {
  text-decoration: none;
}

h3 {
  margin: 0 0 1em 0;
}
/************************************
HEADING
*************************************/

header {
  float: left;
  margin: 0 0 30px 0;
  padding: 5px 0 0 0;
  width: 100%;
}

#logo {
  text-align: center;
  margin: 0;
}

h1 {
  font-family: 'Changa One', sans-serif;
  margin: 15px 0;
  font-size: 1.75em;
  font-weight: normal;
  line-height: 0.8em;
}

h2 {
  font-size: 0.75em;
  margin: -5px 0 0;
  font-weight: normal;
}

/************************************
FOOTER
*************************************/

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  clear: both;
  color: #ccc;
}

.social-icon {
  width: 20px;
  height: 20px;
  margin: 0 5px;
}

/************************************
PAGE: PORTFOLIO
*************************************/

#gallery {
  margin: 0;
  padding: 0;
  list-style: none;
}

#gallery li {
  float: left;
  width: 45%;
  margin: 2.5%;
  background-color: #f5f5f5;
  color: #bdc3c7;
}

#gallery li a p {
  margin: 0;
  padding: 5%;
  font-size: 0.75em;
  color: #bdc3c7;
}

/************************************
PAGE: ABOUT
*************************************/

.profile-photo {
  display: block;
  max-width: 150px;
  margin: 0 auto 30px;
  border-radius: 100%;
}

/************************************
PAGE: PORTFOLIO
*************************************/

.contact-info {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 0.9em;
}

.contact-info a {
  display: block;
  min-height: 20px;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  padding: 0 0 0 30px; 
  margin: 0 0 10px;
}

.contact-info li.phone a {
  background-image: url('../img/phone.png');
}

.contact-info li.mail a {
  background-image: url('../img/mail.png');
}

.contact-info li.twitter a {
  background-image: url('../img/twitter.png');
}

/************************************
COLORS 
*************************************/

/* site body */
body {
  background-color: #fff;
  color: #999;
}

/* selected nav links */
nav li:hover {
  background: #D6D6C2;
}

.selected {
  background: #D6D6C2;
  color: #fff;
  font-weight: bolder;
}